#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.App-header {
  text-align: center;
  padding: 50px 0;
  background-color: #282c34;
  color: white;
}

.profile {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.technologies {
  text-align: center;
  padding: 40px 0;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers items vertically */
  align-items: center;
  /* Centers items horizontally */
  text-align: center;
  /* Ensures the text is centered below the logo */
}

.tech-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  /* Space between the logo and the text */
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #282c34;
  color: white;
  margin-top: 40px;
}