@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 16% 13%;
    --foreground: 72 11% 84%;

    --muted: 215 22% 22%;
    --muted-foreground: 215 16% 47%;

    --popover: 212 16% 13%;
    --popover-foreground: 72 11% 84%;

    --card: 215 22% 22%;
    --card-foreground: 72 11% 84%;

    --border: 215 22% 22%;
    --input: 215 22% 22%;

    --primary: 199 70% 24%;
    --primary-foreground: 72 11% 84%;

    --secondary: 201 19% 51%;
    --secondary-foreground: 72 11% 84%;

    --accent: 201 19% 51%;
    --accent-foreground: 72 11% 84%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 72 11% 84%;

    --ring: 201 19% 51%;

    --radius: 0.5rem;
  }

  html {
    @apply antialiased;
    scroll-behavior: smooth;
      
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

